.site-header {
  width: 100%;
  background-color: var(--primary-lightest-col);
  margin-bottom: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}
.site-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-nav .logo {
  max-width: 244px;
}
