.site-header {
  width: 100%;
  background-color: var(--primary-lightest-col);
  margin-bottom: 20px;
}
.site-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.site-nav .logo {
  max-width: 244px;
}
