.today-weather-card {
  min-height: 320px;
  background-color: #97c7e7;
  border-radius: 10px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.today-weather-card .time {
  display: flex;
  flex-direction: column;
}
.today-weather-card .temperature {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}
.today-weather-card .temperature .icon {
  width: 64px;
}
.today-weather-card .temperature h1 {
  font-size: 2.85rem;
}
.today-weather-card .statistics {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.today-weather-card .statistics .statistic {
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.35);
}
.today-weather-card .statistics .statistic p {
  font-weight: bold;
}
.today-weather-card .statistics .statistic div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}
.weather-card {
  padding: 20px;
  border: 1px solid #ececec;
  border-radius: 10px;
}
