.weather-card {
  background-color: rgb(238, 242, 255);
  padding: 20px;
  border: 1px solid #ececec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.temperature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-card .statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.weather-card .statistics .statistic {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #8c87e9;
}
